<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="servicesLoggerInfo"
          class="com.gzwork.aop.ServicesLoggerInfo"/>

    <aop:config>
        <aop:pointcut
                id="servicesLog"
                expression="execution(* com.gzwork.servers..*.*(..))"/>
        <aop:aspect
                ref="servicesLoggerInfo">
            <aop:after-returning
                    method="bengin"
                    pointcut-ref="servicesLog"/>
        </aop:aspect>
    </aop:config>
</beans>